<!--The whole content below can be removed with the new code.-->
<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
	<li *ngFor="let hero of heroes"
		[class.selected]="hero === selectedHero" (click)="onSelect(hero)">
		<span class="badge">{{hero.id}}</span> {{hero.name}}
	</li>
</ul>
<!-- AppComponent tells the child HeroDetailComponent which hero to display by binding its selectedHero to the hero property of the HeroDetailComponent.  -->
<!-- Putting square brackets around the hero property, to the left of the equal sign (=), makes it the target of a property binding expression. 
You must declare a target binding property to be an input property. Otherwise, Angular rejects the binding and throws an error. -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>



